<table class="tabpayscir">
	 {{#each listerResultat}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" id="drapeauPays" />
      <a href="/detailGrandPrix/{{this.gpnum}}"> {{this.gpnom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />

{{#if detailCircuit}}
	<p><b>{{detailCircuit.gpnom}} ({{detailCircuit.gp}})</b></p>
{{/if}}

	<table>
		<tr>
			<td>
				<b>Place</b>
			</td>
			<td>
				<b>Pilote</b>
			</td>
			<td>
				<b>Temps</b>
			</td>
			<td>
				<b>Nb points</b>
			</td>
		</tr>
		<script> var comp = 1 ; </script>
		{{#each detailResultat}}
			<tr>
				<td>
					<script>document.write(comp)</script>
				</td>
				<td>
					{{this.pilnom}} {{this.pilprenom}}
				</td>
				<td>
					{{this.tempscourse}}
				</td>
				<td>
					{{this.point.ptnbpointsplace}}
				</td>
			</tr>
		<script> comp++ ; </script>
		{{/each}}
	</table>

<p>{{detailCircuit.gpcommentaire}}</p>