{{#if detailCircuit}}
	<table>
		<tr>
			<td rowspan="4"><img src="/image/circuit/{{detailCircuit.ciradresseimage}}" id="imgCircuit" alt="{{detailCircuit.ciradresseimage}}"/></td>
			<td><b> Nom : </b>{{detailCircuit.cirnom}}</td>
			<td rowspan="4">
				<table class="tabpayscir">
					{{#each listeCircuit}}
						<tr>
							<td>
								<img src="/image/pays/{{this.payadrdrap}}" id="drapeauPays" alt="drapeau du pays"/>
    							<a href="/detailCircuit/{{this.cirnum}}"> {{this.cirnom}}</a>
    						</td>
    					</tr>
 					{{/each}}
				</table>
				<br class="myboth" />
			</td>
		</tr>
		<tr>
			<td><b> Longueur : </b>{{detailCircuit.cirlongueur}}</td>
		</tr>
		<tr>
			<td><b> Nombre de spectateurs : </b>{{detailCircuit.cirnbspectateurs}} </td>
		</tr>
		<tr>
			<td><b> Pays : </b>{{detailCircuit.paynom}}</td>
		</tr>
	</table>
	<p>{{detailCircuit.cirtext}}</p>
{{/if}}