{{#if detailEcurie}}
	<img src="/image/ecurie/{{detailEcurie.ecuadresseimage}}" id="imgEcurie" alt="logo ecurie" />
	<div>
		<p><b>Nom : </b> {{detailEcurie.ecunom}}</p>
		<p><b>Directeur : </b>{{detailEcurie.ecunomdir}}</p>
		<p><b>Adresse : </b>{{detailEcurie.ecuadrsiege}}</p>
		<p><b>Pays : </b>{{detailEcurie.paynom}}</p>
		<p><b>Fournisseur Pneumatique : </b>{{detailEcurie.fpnom}}</p>
		
		{{#if listeSponsor}}
			<p><b>Sponsor(s) :</b>
			{{#each listeSponsor}}
				 {{this.sponom}}
			{{/each}}</p>
		{{/if}}
	</div>
	{{#if listePilote}}
		<b><p>Pilotes :</p></b>
		{{#each listePilote}}
			<a class="tooltip" href="/DetailPilote/{{this.pilnum}}"> 
				{{this.pilnom}} {{this.pilprenom}}
				<span><img src="/image/pilote/{{this.phoadresse}}" alt="{{this.phoadresse}}" ></span>
			</a><br/>
		{{/each}}
		{{#each listeVoiture}}
			<img src=" /image/ecurie/voiture/{{this.voiadresseimage}}" alt ="voiture"  id="imgVoiture" />
			<p>{{this.voinom}}</p>
			<p>{{this.typelibelle}}</p>
		{{/each}}
	{{else}}
		<p>Cette écurie ne participe pas au championnat cette année.</p>
	{{/if}}
{{/if}}

<table class="tabpayscir">
	 {{#each listeEcurie}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
      <a href="/detailEcurie/{{this.ecunum}}"> {{this.ecunom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />
