<table class="tabpayscir">
	 {{#each listerResultat}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
      <a href="/detailGrandPrix/{{this.gpnum}}"> {{this.gpnom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />
