<center><p> Cliquez sur une lettre :  
	{{#each repertoirePilotes}}
		<a href="/repertoirePilote/{{this.Initial}}"> {{this.Initial}}</a>
		 {{/each}}
</p></center>

{{#each listePilotes}}
		<figure>
			<a href="/detailPilote/{{this.PILNUM}}"><img src="/image/pilote/{{this.PHOADRESSE}}" id="imgPilote" alt="{{this.PHOADRESSE}} class="listePilote" /></a>
			<figcaption>
				{{this.PILNOM}} {{this.PILPRENOM}}
			</figcaption>
		</figure>
	{{/each}}
